body {
    background-color: lightblue;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile img {
    height: 200px;
    width: 200px;
    border: 3px solid #000000;
    border-radius: 50%;
    transition: 0.3s;
}

.profile img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

.link-github, .link-linkedin {
    margin: 30px 30px 0 0;
}