body {
    background-color: lightblue;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile img {
    height: 200px;
    width: 200px;
    border: 3px solid #000000;
    border-radius: 50%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}
