body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333333;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.link {
    margin: auto;
}

main {
    flex: 1;
}

.profile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile img {
    height: 200px;
    width: 200px;
    border: 3px solid #000000;
    border-radius: 50%;
    transition: 0.3s;
}

.profile img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.goals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.goal-card {
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 80px;
    overflow: hidden;
    cursor: pointer;
    font-weight: 500;
    font-family: "Poppins", sans-serif ;
    transition: max-height 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}
.details {
    max-height: 0;
    overflow: hidden;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.goal-card:hover {
    max-height: 200px;
    transform: scale(1.05);
    background-color: rgb(148, 148, 148);
    justify-content: flex-start;
    transition: max-height 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.goal-card:hover .details {
    max-height: 150px;
    opacity: 1;
    transform: translateY(0);
}

h1, h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
}

h2 {
    color: black;
}

p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 20px;
    gap: 30px;
}