body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333333;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.link {
    margin: auto;
}

main {
    flex: 1;
}

.profile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile img {
    height: 200px;
    width: 200px;
    border: 3px solid #000000;
    border-radius: 50%;
    transition: 0.3s;
}

.profile img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.goals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.goal-card {
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    background-color: lightgray;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.goal-card:hover {
    transform: scale(1.05);
    background-color: rgb(148, 148, 148);
}

h1, h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
}

h2 {
    color: black;
}

p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 20px;
    gap: 30px;
}